<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy bow (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{480,84},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>enemy bow (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,106},{89,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,101}}</string>
                <key>sourceSize</key>
                <string>{89,101}</string>
            </dict>
            <key>enemy bow (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,327},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>enemy bow (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>enemy bow (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,111},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>enemy bow (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>enemy bow (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,215},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>enemy bow (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{383,84},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>enemy bow (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,437},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>enemy bow (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>enemy bow (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>enemy bow (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,221},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>enemy bow (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>enemy bow (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>enemy bow (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>enemy bow (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>enemy bow (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy bow.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beddc71f19ddfa5b0192c7ab6bc087b8$</string>
            <key>textureFileName</key>
            <string>enemy bow.png</string>
        </dict>
    </dict>
</plist>
