<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,214},{162,208}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,75},{162,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{394,848},{172,186}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,77},{172,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{164,184}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,76},{164,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,216},{168,210}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{168,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{164,210}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,76},{164,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{304,638},{148,208}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,76},{148,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,212}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,77},{172,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,642},{140,210}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,77},{140,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{348,424},{154,204}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,77},{154,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{170,210}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,77},{170,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,854},{160,204}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,76},{160,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,428},{172,208}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{172,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{156,212}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,77},{156,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{158,210}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,76},{158,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>fly (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{150,208}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,77},{150,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b603825773701db0e13a5a11c5ac5bff$</string>
            <key>textureFileName</key>
            <string>fly.png</string>
        </dict>
    </dict>
</plist>
